@model Module_2_Zakupka_Prodaja_Proizvodstvo.Models.IngredientVM

@{
    ViewBag.Title = "Добавление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Ингредиент</legend>

        <p>
           Прдукт<br />
            @Html.DropDownListFor(model => model.produciya, ViewBag.Gotov_products as SelectList)
        </p>

        <p>
            Сырье<br />
            @Html.DropDownListFor(model => model.syrie, ViewBag.Syries as SelectList)
        </p>

        <p>
            Количество  <br />

            @Html.EditorFor(model => model.kol_vo)
        </p>

        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>



}
<div>

    @Html.ActionLink("К списку", "Index")
</div>